DATABASE_URL=postgres://rozliczkorki:rozliczkorki@localhost:5434/rozliczkorki

BETTER_AUTH_SECRET=change-me-to-a-random-32-byte-string
BETTER_AUTH_URL=http://localhost:3000

TRUSTED_ORIGINS=rozliczkorki://

# Google OAuth (leave empty to disable "Zaloguj przez Google")
GOOGLE_CLIENT_ID=304685809504-k88qr5pt109j9u32norqg15bnjnik5j7.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

EXPO_PUBLIC_API_URL=http://localhost:3000

CRON_SECRET=change-me
