EXPO_PUBLIC_API_URL=http://192.168.1.10:3000
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=REPLACE_WITH_WEB_CLIENT_ID.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_URL_SCHEME=com.googleusercontent.apps.REPLACE_WITH_IOS_CLIENT_ID
EXPO_PUBLIC_MIXPANEL_TOKEN=REPLACE_WITH_MIXPANEL_PROJECT_TOKEN
EXPO_PUBLIC_MIXPANEL_API_HOST=https://api.mixpanel.com
